<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A minimal css framework.">
  <meta name="author" content="chobberoni">

  <title>Wing</title>

  <!-- Link to CSS -->
  <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
  <link rel="shortcut icon" href="./favicon.ico" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.4/typed.min.js"></script>
  <script>
  $(function(){
    $(".codeBlock").hide();
    $(".searchx").typed({
      strings: ["Show me a JS regex", "Show me a JS email Regex function"],
      typeSpeed:10
    });
    $(".buttonPress").click(function(){
      $(".codeBlock").show();
    });
  });
  </script>


</head>
<body>

<section class="text-center">
<!-- .container should be wrapping around the grid -->
<div class="container">

    <h1 class="text-center">The GitHub Search Engine</h1>
    <!-- For each row, give the class "row" -->
    <div class="row">
        <!-- for columns, add the class col-x, there are twelve -->
        <!-- columns in total, and nesting is not recommended -->
        <div class="col-6">
            <p>
                Please stop coding everything from scratch. It's quite likely someone has written
                that <code>REGEX</code> expression you're so desparately waiting to write.
            </p>
        </div>
        <div class="col-6">
            <p>
            GitHub Search Engine (GSE) is here to find relevant code snippets. Search for anything
            NodeJS or Python related, below.
            </p>
        </div>
    </div>
</div>


<div class="row">
  <form>
    <div class="col-3"></div>
    <div class="col-6"><input autocomplete="off" autofocus id="search" class="searchx"
      type="text" placeholder="Show me a JS email Regex function"/></div>
  </form>

</div>

<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <a href="/auth/github"><button class="">LOGIN</button></a>
    <button class="buttonPress">Search</button>
  </div>
</div>


</section>
<!-- Single Line Code Examples should be wrapped in <code> -->
<!--<code>console.log("Hello World");</code>-->

<!-- Blocks Of Code Should be in <code> wrapped with <pre> -->
<div class="row">
    <div class="col-12">
        <pre class="codeBlock"><code>
            function checkEmail(email) {
                var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
                if (!reg.test(email)) return false;
                return true;
            }
        </code></pre>
    </div>
</div>

</body>


</html>
